<button class="btn btn-primary pull-right" (click)="logout()" style="cursor: pointer">Выйти</button>
<br><br><br>
<table class="table table-hover">
  <thead>
  <tr>
    <th width="20px"></th>
    <th>Названия</th>
    <th>Координаты X</th>
    <th>Координаты Y</th>
    <th>Категория</th>
    <th>Открыватель</th>
    <th>Управления</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let element of stars;">
    <td width="20px"><i class="fa fa-star fa-lg icon-a" [style.color]="colors[element.categoryId]"></i></td>
    <td>{{element.name}}</td>
    <td>{{element.coorX}}</td>
    <td>{{element.coorY}}</td>
    <td>{{element.category}}</td>
    <td>{{element.discovererFirstName + ' ' + element.discovererLastName}}</td>
    <td>
      <i class="fa fa-pencil fa-lg" (click)="callChangeModal(element)"></i>
      <i class="fa fa-trash-o fa-lg" (click)="deleteStar(element)"></i></td>
  </tr>
  </tbody>
</table>

<button class="btn btn-success pull-right" (click)="callAddModal()">Добавить</button>




<!--changing star-->

<div class="container">

  <!-- The Modal -->
  <div class="modal fade" id="ChangeModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="margin: 0 auto">Изменить</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body modal-input">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                Открыватель
                <select (change)="selectTest($event.target.value, 'discovererId')" value="{{changeStars.discovererId}}">
                  <option *ngFor="let author of authors;" value="{{author.id}}">{{author.firstName + ' ' + author.lastName}}</option>
                </select>
              </div>
            </div>
            <div class="row addNewAuthor" style="display: none; margin-top: 5px">
              <div class="col-lg-6 col-md-6"><input placeholder="Имя" [(ngModel)]="newAuthor.firstName" style="border-color: red" required></div>
              <div class="col-lg-6 col-md-6"><input placeholder="Фамилия" [(ngModel)]="newAuthor.lastName" style="border-color: red; width: 93%" required><i (click)="addNewAuthorCancell()" class="fa fa-times"></i></div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">Name <input value="{{changeStars.name}}" [(ngModel)]="changeStars.name"></div>
              <div class="col-lg-6 col-md-6">Категория
                <select (change)="selectTest($event.target.value, 'categoryId')" value="{{changeStars.categoryId}}">
                <option *ngFor="let cat of categories;" value="{{cat.id}}">{{cat.name}}</option>
              </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">Координаты  X<input value="{{changeStars.coorX}}" [(ngModel)]="changeStars.coorX" required></div>
              <div class="col-lg-6 col-md-6">Координаты  Y<input value="{{changeStars.coorY}}" [(ngModel)]="changeStars.coorY" required></div>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="getTableInfo()" data-dismiss="modal" style="width: 33%">Отмена</button>
            <button type="button" class="btn btn-info addNewBtn" (click)="addNewAuthorBtns()" style="width: 33%">Добавить автора</button>
            <button type="button" class="btn btn-info submitDiscovererBtn" (click)="addAuthor()" style="width: 33%; display: none">Сохранить автора</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="changeStarMethod()" style="width: 33%">Сохранить</button>
        </div>

      </div>
    </div>
  </div>

</div>


<!--adding new star-->
<div class="container">

  <!-- The Modal -->
  <div class="modal fade" id="addModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="margin: 0 auto">Добавить звезду</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body modal-input">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                Открыватель
                <select (change)="selectTest($event.target.value, 'discovererId')" value="{{changeStars.discovererId}}">
                  <option value="">Выберите открывателя</option>
                  <option *ngFor="let author of authors;" value="{{author.id}}">{{author.firstName + ' ' + author.lastName}}</option>
                </select>
              </div>
            </div>
            <div class="row addNewAuthor" style="display: none; margin-top: 5px">
              <div class="col-lg-6 col-md-6">
                <input placeholder="Имя открывателя" [(ngModel)]="newAuthor.firstName" style="border-color: red;" required>
              </div>
              <div class="col-lg-6 col-md-6">
                <input placeholder="Фамилия открывателя" [(ngModel)]="newAuthor.lastName" style="border-color: red; width: 93%" required>
                <i (click)="addNewAuthorCancell()" class="fa fa-times"></i>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">Названия
                <input value="{{changeStars.name}}" [(ngModel)]="changeStars.name">
              </div>
              <div class="col-lg-6 col-md-6">Категория
                <select (change)="selectTest($event.target.value, 'categoryId')" value="{{changeStars.categoryId}}">
                  <option value="">Выберите категорию</option>
                  <option *ngFor="let cat of categories;" value="{{cat.id}}">{{cat.name}}</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-6">Координаты X
                <input value="{{changeStars.coorX}}" [(ngModel)]="changeStars.coorX">
              </div>
              <div class="col-lg-6 col-md-6">Координаты Y
                <input value="{{changeStars.coorY}}" [(ngModel)]="changeStars.coorY">
              </div>
            </div>
            <div class="row">
              <p id="error_message" style="color: red; margin-left: 3%; margin-top: 1%"></p>
            </div>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="getTableInfo()" data-dismiss="modal" style="width: 33%">Отмена</button>
          <button type="button" class="btn btn-info addNewBtn" (click)="addNewAuthorBtns()" style="width: 33%">Добавить автора</button>
          <button type="button" class="btn btn-info submitDiscovererBtn" (click)="addAuthor()" style="width: 33%; display: none">Сохранить автора</button>
          <button type="button" class="btn btn-primary" (click)="addStar()" style="width: 33%">Сохранить</button>
        </div>
      </div>
    </div>
  </div>

</div>
